#---------------------------------------------------------------------LINUX-SYS---------------------------------------------------------------------#

alias a='cd'
alias .='cd ..'
alias ..='cd ../..'
alias ...='cd ../../..'
alias la='lsd -la'
alias ls='lsd --color=auto'
alias cl='clear'
alias mk='mkdir'
alias mkd='mkdir -p'
alias rb='reboot'
alias sd='shutdown now'
alias install='sudo pacman -S'
alias update='sudo pacman -Sy'
alias upgrade='sudo pacman -Syu'

#------------------------------------------------------------------------GIT------------------------------------------------------------------------#

alias gd='git diff'
alias gchk='git checkout -- '
alias gi='git init'
alias ga='git add'
alias ga.='git add .'
alias gs='git status'
alias gc='git commit'
alias gb='git branch'
alias gch='git checkout'
alias gps='git push -u origin'
alias ghpsch='git remote add origin https://github.com/cryhades/'

#--------------------------------------------------------------------CONFIG-FILES--------------------------------------------------------------------#

alias i3c='$EDITOR $HOME/.config/i3/config'
alias zshc='$EDITOR ~/.zshrc'
alias polyc='$EDITOR $HOME/.config/polybar/config'
alias aliasc='$EDITOR ~/.aliases'
alias alacc='$EDITOR ~/.config/alacritty/alacritty.yml'
alias vimc='$EDITOR ~/.vimrc'
alias nvimc='$EDITOR ~/.config/nvim/init.vim'
alias dunstc='$EDITOR $HOME/.config/dunst/dunstrc'

#---------------------------------------------------------------------DIRECTORIES-------------------------------------------------------------------#

alias conf='cd ~/.config'
alias angela='cd ~/school/web/angela'
alias pablo='cd ~/school/web/JuanPablo'
alias vimg='cd ~/.vimgit'
alias snips='cd ~/.vimsnips/'

#-----------------------------------------------------------------------PROGRAMS--------------------------------------------------------------------#

alias n='nvim'
alias py='python'
alias pi='pip install'
alias piu='pip uninstall'
