#------------------------------------------------------------------PACMAN-----------------------------------------------------------------------#
#
alias 	install='sudo pacman -S'
alias 	update='sudo pacman -Sy'
alias 	upgrade='sudo pacman -Syu'
alias 	uninstall='sudo pacman -R' 	# Elimina solo el paquete.
alias 	uninstall2='sudo pacman -Rs' 	# Paquete y dependencias que no necesite otro paquete.
alias 	uninstall3='sudo pacman -Rn' 	# Elimina sin guardar copia.

#-----------------------------------------------------------------LINUX-SYS---------------------------------------------------------------------#

alias 	l='ls'
alias 	a='cd'
alias 	.='cd ..'
alias 	..='cd ../..'
alias 	...='cd ../../..'
alias 	la='lsd -la'
alias 	ls='lsd --color=auto'
alias 	clx='clear'
alias 	cl='clear -x'
alias 	mf='touch'
alias 	md='mkdir'
alias 	rb='reboot'
alias 	sd='shutdown now'

#--------------------------------------------------------------------GIT------------------------------------------------------------------------#

alias 	gd='git diff'
alias 	gchk='git checkout -- '
alias 	gi='git init'
alias 	ga='git add'
alias 	ga.='git add .'
alias 	gs='git status'
alias 	gc='git commit -m'
alias 	gb='git branch'
alias 	gch='git checkout'
alias 	gps='git push -u origin'
alias 	gpso='git push -u origin master'

#---------------------------------------------------------------CONFIG-FILES--------------------------------------------------------------------#

alias 	i3c='$EDITOR $HOME/.config/i3/config'
alias 	zshc='$EDITOR ~/.zshrc'
alias 	polyc='$EDITOR $HOME/.config/polybar/config'
alias 	aliasc='$EDITOR ~/.aliases'
alias 	alacc='$EDITOR ~/.config/alacritty/alacritty.yml'
alias 	vimc='$EDITOR ~/.vimrc'
alias 	nvimc='$EDITOR ~/.config/nvim/init.vim'
alias 	dunstc='$EDITOR $HOME/.config/dunst/dunstrc'
    
#-----------------------------------------------------------------DIRECTORIES-------------------------------------------------------------------#

alias 	conf='cd ~/.config'
alias 	vimg='cd ~/.vimgit'
alias 	dotf='cd ~/.dotfiles'
alias 	angela='cd ~/school/web/angela'
alias 	pablo='cd ~/school/web/JuanPablo'
alias 	jsvic='cd ~/school/js/victor'
alias 	snips='cd ~/.vimsnips/'
alias 	wrk='cd ~/work/charles'

#-------------------------------------------------------------------PROGRAMS--------------------------------------------------------------------#

alias 	n='nvim'
alias 	f='vifm'
alias 	nf='neofetch'
alias 	py='python'
alias 	pi='pip install'
alias 	piu='pip uninstall'

#-------------------------------------------------------------------WEB-DEVELOPMENT-------------------------------------------------------------#

alias 	mh='n index.html'
alias 	mc='n styles.css'
alias 	mn='n normalize.css'
    

